.main-container {
  padding: 5px;
  min-height: calc(100% - 150px - 150px);
}

@media only screen and (max-width: 992px) {
  .main-container{
    min-height: calc(100% - 100px - 150px);
  }
}
@media only screen and (max-width: 576px) {
  .main-container{
    min-height: calc(100% - 60px - 150px);
  }
}
