.header {
  ul,
  li {
    list-style: none;
  }
  .top_nav {
    background-color: #1e1e27;
    color: #b5aec4;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .top_nav_left {
      height: 50px;
      line-height: 50px;
      font-size: 13px;
      text-transform: uppercase;
    }
    .top_nav_menu {
      list-style: none;

      .item {
        display: inline-block;
        position: relative;
        min-width: 50px;
        border-right: solid 1px #33333b;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        vertical-align: middle;
        background: #1e1e27;
        a {
          display: block;
          color: #b5aec4;
          font-weight: 400;
          height: 50px;
          line-height: 50px;
          font-size: 13px;
          i {
            margin-left: 8px;
          }
        }

        .account_selection {
          display: block;
          position: absolute;
          right: 0;
          top: 120%;
          margin: 0;
          width: 100%;
          background: #fff;
          visibility: hidden;
          opacity: 0;
          z-index: 1;
          box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
          -webkit-transition: opacity 0.3s ease;
          -moz-transition: opacity 0.3s ease;
          -ms-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: all 0.3s ease;
          li {
            padding-left: 10px;
            padding-right: 10px;
            line-height: 50px;
            a {
              display: block;
              color: #232530;
              border-bottom: solid 1px #ddd;
              font-size: 14px;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
              i {
                margin-right: 10px;
              }
            }
          }
        }
      }
      :hover {
        .account_selection {
          visibility: visible;
          top: 100%;
          opacity: 1;
        }
      }
    }
  }
  .main_nav_container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: right !important;
    justify-content: space-between;
    height: 100px;
    a{
      color: #1e1e27;
    }
    .navbar {
      display: flex;
      align-items: center;
      float: right;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin-left: auto;

      a, menu-item-link {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40px;
        height: 40px;        
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      :hover {
        color: #b5aec4;
      }

      .menu {
        display: block;
        list-style: none;
        height: fit-content;
        li {
          display: inline-block;
          a {
            font-weight: 700;
            padding: 20px;
            width: fit-content;
            text-transform: uppercase;
          }
        }
      }
      .user {
        list-style: none;
        margin-left: 37px;
        padding: 0;
        li {
          display: inline-block;
          text-align: center;
        }
      }
      .hamburger_container {
        display: none;
        margin-left: 25px;
        i {
          font-size: 24px;
          color: #1e1e27;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .header .main_nav_container {
    height: 60px;
  }
  .header .main_nav_container a {
    font-size: 14px !important;
  }
  .header .main_nav_container .navbar .hamburger_container i {
    font-size: 14px !important;
  }
  .header .main_nav_container .logo .title {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 992px) {
  .header .main_nav_container .navbar .hamburger_container {
    display: block;
  }
  .header .main_nav_container .navbar .menu {
    display: none;
  }
  .header .top_nav {
    display: none;
  }
}
